@model IEnumerable<SpotifyAPI.Web.Models.SimpleAlbum>

    <div class="col-xs-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Albums</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

