@model IEnumerable<SpotifyAPI.Web.Models.FullArtist>
<div>
    <h2>Artists</h2>
    @foreach (var item in Model)
    {
        <div class="row">
            @Html.ActionLink(item.Name, "Detail", new { id = item.Id })
        </div>
    }
</div>
