@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>

@{ 
    List<string> trx = new List<string>();
    foreach (var trk in Model)
    {
        trx.Add(trk.Id.ToString());
    }
}

    <div class="col-xs-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Track Results</th>
                    <th>Album</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "SearchDetail", new { id = Json.Encode(trx)})
                        </td>
                        <td>
                            @Html.ActionLink(item.Album.Name, "AlbumDetail", new { id = item.Album.Id })
                        </td>
                        <td>
                            @foreach (var artist in item.Artists)
                            {                                
                                @Html.ActionLink(artist.Name, "Detail", new { id = artist.Id })<span> </span>
                            }      
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




