@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>

    <div class="col-xs-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tracks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @foreach (var artist in item.Artists)
                            {                                
                                @Html.ActionLink(artist.Name + " ", "Detail", new { id = artist.Id });
                            }
                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Album.Name);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name);
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




