@model IEnumerable<SpotifyAPI.Web.Models.FullTrack>

    <div class="col-xs-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Track Results</th>
                    <th>Album</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink(item.Album.Name, "AlbumDetail", new { id = item.Album.Id })
                        </td>
                        <td>
                            @foreach (var artist in item.Artists)
                            {                                
                                @Html.ActionLink(artist.Name, "Detail", new { id = artist.Id })<span> </span>
                            }
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




