@model FunWithWeb.Models.Spotify.SearchAll

<div class="container">
    <div class="col-xs-6">
        @{ 
            if(Model.query == "tempo")
            {
               @Html.Partial("_TempoDetail", Model.TrackSearch);
            }
            else
            {
               @Html.Partial("_ArtistDetail", Model.TrackSearch);
            }
        }
        
    </div>
    <div class="col-xs-6">
        <h2>Open your Spotify App to play the first track</h2>
        <div>
            @Html.Partial("_PlayerPane", Model.TrackSearch);
        </div>
    </div>
</div>

@Html.ActionLink("Index", "Index")

