@using System.Diagnostics.Eventing.Reader

@{
    HttpCookie myCookie = new HttpCookie("authed");
    myCookie = Request.Cookies["authed"];
    bool authed = false;

    // Read the cookie information and display it.
    if (myCookie != null)
        { authed = true; }


    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spotify API</h2>
<h3>Click the button below to get started</h3>

<a href="@Url.Action("Auth", "API")" class="btn btn-default" >Auth spotify</a>


