@model FunWithWeb.Models.Spotify.SearchAll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool anything = (Model.ArtistSearch.Count > 0 && Model.AlbumSearch.Count > 0 && Model.TrackSearch.Count > 0);
}

<h1>Search Results for @Model.query</h1>

<div class="container">

@{
    if((Model.searchType == "artist" || Model.searchType == null) && Model.ArtistSearch.Count > 0)
    {
        Html.RenderPartial("_ArtistSearch", Model.ArtistSearch);
    }

    if ((Model.searchType == "album" || Model.searchType == null) && Model.AlbumSearch.Count > 0)
    {
        Html.RenderPartial("_AlbumSearch", Model.AlbumSearch);
    }

    if ((Model.searchType == "track" || Model.searchType == null) && Model.TrackSearch.Count > 0)
    {
        Html.RenderPartial("_TrackSearch", Model.TrackSearch);
    }

    if (!anything)
    {
        <h2>No results!</h2>
    }
}
</div>

@Html.ActionLink("Back to search","Index")
