@model FunWithWeb.Models.Spotify.SearchAll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search Results for @Model.query</h1>

<div class="container">
@{
    Html.RenderPartial("_ArtistSearch", Model.ArtistSearch);
    Html.RenderPartial("_AlbumSearch", Model.AlbumSearch);
    Html.RenderPartial("_TrackSearch", Model.TrackSearch);
}
</div>

@Html.ActionLink("Index","Index")
