@{
    ViewBag.Title = "Point A";
}

<div class="jumbotron">
    <h1>Check out your options above to get started!</h1>
    <ul class="list-group">
        <li class="list-group-item">Music - Just a couple of embedded playlists of music I have been a part of</li>
        <li class="list-group-item">API - Using a C# library of Spotify's API for searching</li>
        <li class="list-group-item">DataTest - Using MySQL to connect to a Database</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            I feel pretty good with editing stuff
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>I should look for embedded player NuGet packages</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>I should figure out cost for this sort of thing</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>