@{
    ViewBag.Title = "Point A";
}

<div class="jumbotron">
    <h1>I need to learn more about frameworks</h1>
    <p class="lead">Sometimes it is fun to mess with templates</p>
    <p><a href="https://reddit.com" class="btn btn-primary btn-lg">Reddit</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            I feel pretty good with editing stuff
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>I should look for embedded player NuGet packages</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>I should figure out cost for this sort of thing</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>